@import "./partials/_setup";
@import "./partials/_mixins";
@import "./partials/_createUser";
@import "./partials/_home";
@import "./partials/_myColors";
@import "./partials/_nav";
@import "./partials/_buttons";
@import "./partials/_selectedPainter";
@import "./partials/_painters";


body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	background-color: #c7b3d6;
	color: #ffe9fd;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1300px;
	padding: 0 20px 20px;
	min-height: 100vh;
	background-image: url(../images/ink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	@include bp(mobile) {
		padding: 5px;
	}
}

h1 {
	margin-top: 0;
	font-size: 8rem;
	text-shadow: 9px 6px 17px;
	span {
		text-shadow: none;
		font-size: 3rem;
		display: block;
		margin: 30px 0;
		@include bp(mobile) {
		font-size: 2rem;
	}
	}
	span.lower {
		text-transform: lowercase;
	}
	@include bp(tablet) {
		font-size: 3rem;
	}

}

h2 {
	display: inline-block;
	margin: 20px 0 10px;
	font-size: 2.8rem;
	padding: 20px;
	text-align: center;
	line-height: 1;
	color: #ffe9fd;
	background-color:rgba(0, 3, 19, 0.81);
	border-radius: 20px;

	@include bp(mobile) {
		font-size: 1.3rem;
		padding: 10px;
	}
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
} 

.wrapper__menu {
	width: 80%;
	height: calc(100vh - 60px);
	margin: 30px auto;
	background-color: rgba(6, 17, 56, 0.81);
	border-radius: 20px;
}


footer {
	margin-top: 60px;
	color: #312955;
	p {
	font-size: .7rem;
	text-align: center;
	margin: 5px;
	}
	a {
		color: #312955;
	}
}


.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #c7b3d6;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0); background-color: rgb(170,44,144) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
    background-color: rgb(75, 136,199);

  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: rgb(170,44,144)
   
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
    background-color: rgb(75, 136,199);
  }
}
