article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

.create-user a {
  color: #061138;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bolder;
  padding: 5px 10px;
  margin-left: 5px;
  transition: all 1s ease; }
  .create-user a:hover {
    background-color: #061138;
    color: #ffe9fd;
    border-radius: 5px; }

.logout {
  padding: 5px 10px;
  color: #061138; }
  .logout:hover {
    cursor: pointer; }

.create-user {
  -ms-flex-item-align: end;
      align-self: flex-end; }
  .create-user ul {
    margin: 0;
    padding: 0; }
    .create-user ul li {
      display: inline-block;
      list-style: none;
      margin: 10px; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  bottom: 0;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

form.show {
  opacity: 1;
  transition: all .5s ease; }

form.user-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: white;
  font-family: sans-serif;
  border-radius: 10px;
  padding: 20px 40px 40px;
  position: relative;
  color: #061138;
  position: absolute;
  margin: 0 5px;
  top: 20%;
  z-index: 10; }
  @media all and (max-width: 480px) {
    form.user-form {
      padding: 10px; } }
  form.user-form label {
    padding: 10px;
    font-weight: bold; }
  form.user-form button {
    margin: 10px auto;
    width: 50%;
    background-color: #061138;
    color: #ffe9fd; }
    @media all and (max-width: 480px) {
      form.user-form button {
        width: 100%; } }
  form.user-form i {
    text-align: right;
    padding: 10px; }
    form.user-form i:hover {
      cursor: pointer; }

form.hide {
  opacity: 0; }

.mustLogin {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column; }

.mustLogin.hide {
  display: none; }

.mustLogin__content {
  width: 50%;
  background: #c7b3d6;
  border-radius: 20px;
  padding: 50px;
  margin: 0 auto; }
  @media all and (max-width: 768px) {
    .mustLogin__content {
      width: 75%; } }
  @media all and (max-width: 480px) {
    .mustLogin__content {
      width: 100%;
      padding: 5px; } }
  .mustLogin__content i {
    text-align: right;
    color: #061138;
    display: block;
    padding: 10px 20px; }
    .mustLogin__content i:hover {
      cursor: pointer; }
  .mustLogin__content p {
    text-align: center;
    color: #061138;
    margin-bottom: 40px; }

.mustLogin .create-user nav {
  text-align: center; }
  .mustLogin .create-user nav a {
    font-size: 1.5rem;
    margin: 0px 20px;
    border-radius: 10px;
    border: 2px solid #061138;
    color: #061138;
    border-radius: 10px; }
    .mustLogin .create-user nav a:hover {
      background-color: #061138;
      color: #c7b3d6;
      border: 2px solid #061138; }

.mustLogin.hide, .overlay.hide {
  display: none; }

header {
  width: 70%;
  color: #061138;
  padding: 60px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase; }
  @media all and (max-width: 768px) {
    header {
      background-color: rgba(255, 233, 253, 0.8);
      border-radius: 5px;
      padding: 10px;
      width: 100%; } }

.heading {
  width: 100%;
  text-align: right; }
  @media all and (max-width: 480px) {
    .heading {
      text-align: left;
      padding: Opx; } }

.innerWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%; }

@media all and (max-width: 480px) {
  .wrapper.home {
    -ms-flex-pack: justify;
        justify-content: space-between; } }

.wrapper.mySelection {
  -ms-flex-pack: start;
      justify-content: flex-start;
  background-image: url(../images/ink2.jpg);
  background-size: 100%;
  background-repeat: no-repeat; }
  .wrapper.mySelection button {
    color: #ffe9fd;
    background-color: rgba(0, 3, 19, 0.81); }
  .wrapper.mySelection .mainContent {
    padding: 0; }
    @media all and (max-width: 480px) {
      .wrapper.mySelection .mainContent {
        padding: 0; } }

.savedItemContainer {
  display: -ms-flexbox;
  display: flex;
  margin: 40px 20px;
  overflow: hidden;
  -ms-flex-align: center;
      align-items: center; }
  @media all and (max-width: 480px) {
    .savedItemContainer {
      -ms-flex-direction: column;
          flex-direction: column; } }

.savedItem__info {
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 1s;
  width: 50%;
  margin: 0 auto;
  animation: slide-out 1s forwards; }
  .savedItem__info p {
    color: #061138; }

.savedItem__info.slide {
  display: block;
  margin-top: 20px;
  opacity: 1;
  height: auto;
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards; }

@keyframes slide-in {
  100% {
    transform: translateY(0%); } }

@keyframes slide-out {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%);
    display: none;
    height: 0; } }

.heading nav {
  text-transform: uppercase;
  -ms-flex-item-align: end;
      align-self: flex-end; }
  .heading nav a {
    padding: 10px 20px;
    color: #061138;
    position: relative;
    font-size: .8rem;
    font-weight: bold;
    transition: color .8s ease; }
    .heading nav a:after {
      content: "";
      left: 20px;
      display: block;
      position: absolute;
      width: 40px;
      background-color: #061138;
      height: 2px; }
      @media all and (max-width: 480px) {
        .heading nav a:after {
          display: none; } }
    @media all and (max-width: 768px) {
      .heading nav a {
        color: #ffe9fd;
        font-weight: normal; } }
    @media all and (max-width: 480px) {
      .heading nav a {
        padding: 10px 5px; } }
    .heading nav a:hover {
      color: #ffe9fd; }

button {
  text-transform: uppercase;
  width: 200px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  border: 2px solid #061138;
  border-radius: 5px;
  background-color: rgba(6, 17, 56, 0.81);
  transition: all 1s ease; }
  button a {
    color: #F4CCEE;
    padding: 10px 60px; }
  button:hover {
    background-color: transparent;
    border: 2px solid #061138; }
  button:hover a {
    color: #061138; }

button.saveSelection {
  display: inline-block;
  background-color: #ffe9fd;
  border: 1px solid #000311;
  color: #000311;
  padding: 5px;
  margin: 10px auto;
  width: 100px;
  font-size: 1rem;
  transition: all .8s ease; }
  button.saveSelection:hover {
    color: #ffe9fd;
    background-color: transparent;
    border: 1px solid #ffe9fd; }

.buttons {
  position: relative;
  z-index: 10; }
  @media all and (max-width: 480px) {
    .buttons {
      width: 100%; } }

.buttons button {
  width: 50px;
  margin: 10px; }
  @media all and (max-width: 480px) {
    .buttons button {
      display: inline-block; } }

.selectedPainter {
  display: -ms-flexbox;
  display: flex; }

.allColors {
  width: 80%;
  margin: 0 auto;
  background-color: #000313;
  border-radius: 20px;
  padding: 30px 20px; }
  @media all and (max-width: 480px) {
    .allColors {
      width: 100%;
      padding: 15px; } }

.paintingDetails {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }
  .paintingDetails img {
    max-width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto; }
    @media all and (max-width: 480px) {
      .paintingDetails img {
        margin-bottom: 20px; } }
  .paintingDetails p {
    text-align: center; }

.groupColor {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  border: 2px solid white;
  border-radius: 5px;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  z-index: 10; }
  @media all and (max-width: 480px) {
    .groupColor {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.colors {
  display: inline-block;
  padding: 20px 15px;
  -ms-flex-positive: 1;
      flex-grow: 1; }
  .colors p {
    color: #ffe9fd;
    font-size: 1rem;
    text-align: center; }
  @media all and (max-width: 480px) {
    .colors {
      padding: 5px; } }

li {
  margin: 30px; }
  li button {
    display: none; }

.slider-decorator-2 {
  display: none; }

.slider-decorator-0 button, .slider-decorator-1 button {
  visibility: hidden;
  opacity: 1;
  position: relative; }
  .slider-decorator-0 button::after, .slider-decorator-1 button::after {
    font-family: FontAwesome;
    position: absolute;
    padding: 5px;
    visibility: visible !important;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    bottom: 0; }

.slider-decorator-0 button::after {
  content: '\f104';
  display: inherit; }

.slider-decorator-1 button::after {
  content: '\f105'; }

.mainContent {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px 20px;
  text-align: center; }
  @media all and (max-width: 480px) {
    .mainContent {
      padding: 0; } }

.painterMenu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  height: 90vh;
  padding: 20px;
  max-width: 100%;
  background: rgba(199, 179, 214, 0.68);
  border-radius: 20px;
  box-shadow: 0 0 30px black; }
  @media all and (max-width: 940px) {
    .painterMenu {
      height: auto;
      padding: 0; } }

.painter {
  margin: 15px;
  width: 50%; }
  @media all and (max-width: 768px) {
    .painter {
      width: 100%; } }
  @media all and (max-width: 480px) {
    .painter {
      width: 100%;
      margin: 15px 5px; } }

input[type="radio"] {
  display: none; }

.painterMenu label {
  font-weight: bold;
  transition: all .4s ease;
  letter-spacing: 1.5px;
  padding: 10px;
  color: #061138;
  border-radius: 5px; }
  @media all and (max-width: 480px) {
    .painterMenu label {
      line-height: 1.5;
      font-size: 1rem; } }
  .painterMenu label:hover {
    color: #ffe9fd;
    background-color: rgba(6, 17, 56, 0.81);
    cursor: pointer; }
    @media all and (max-width: 480px) {
      .painterMenu label:hover {
        background-color: transparent; } }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  background-color: #c7b3d6;
  color: #ffe9fd; }

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  max-width: 1300px;
  padding: 0 20px 20px;
  min-height: 100vh;
  background-image: url(../images/ink.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  @media all and (max-width: 480px) {
    .wrapper {
      padding: 5px; } }

h1 {
  margin-top: 0;
  font-size: 8rem;
  text-shadow: 9px 6px 17px; }
  h1 span {
    text-shadow: none;
    font-size: 3rem;
    display: block;
    margin: 30px 0; }
    @media all and (max-width: 480px) {
      h1 span {
        font-size: 2rem; } }
  h1 span.lower {
    text-transform: lowercase; }
  @media all and (max-width: 768px) {
    h1 {
      font-size: 3rem; } }

h2 {
  display: inline-block;
  margin: 20px 0 10px;
  font-size: 2.8rem;
  padding: 20px;
  text-align: center;
  line-height: 1;
  color: #ffe9fd;
  background-color: rgba(0, 3, 19, 0.81);
  border-radius: 20px; }
  @media all and (max-width: 480px) {
    h2 {
      font-size: 1.3rem;
      padding: 10px; } }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  display: block; }

.wrapper__menu {
  width: 80%;
  height: calc(100vh - 60px);
  margin: 30px auto;
  background-color: rgba(6, 17, 56, 0.81);
  border-radius: 20px; }

footer {
  margin-top: 60px;
  color: #312955; }
  footer p {
    font-size: .8rem;
    text-align: center;
    margin: 0; }
  footer a {
    color: #312955; }
